<h1>Your Projects</h1>

<% @projects.each do |p| %>

  <h4><%= link_to(p.name, project_path(p.id)) %></h4>
  <p>Description: <%= p.description %></p>
  
  <% if p.tasks.length > 0 %>
  
    <% p.tasks.each do |t| %>

      <%= link_to(t.title, task_path(t.url)) %>

    <% end %>
  
  <% end %>

<% end %>

<h3><%= link_to("New Project", new_project_path) %></h3>