html {
  box-sizing: border-box;
  width: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* #883116 red*/
/* #F7E8A7 yellow*/
/* #717051 green*/
/* #3A4D4B blue*/
/*#2A2016  black*/

body {
  margin: 0;
  background-color: #392B1D;
}

#alert {
  color: green;
}

#notice {
  color: red;
}

header {
  position: absolute;
  left: 50%;
  margin-left: -15px;
  margin-top: 10px;
}

header h1 {
	font-family: 'Merriweather Sans', sans-serif;
  text-shadow: 0 0 5px #C4A175;
	color:#F7E8A7;
	font-size: 50px;
  padding: 0;
  margin: 10px 0 0 20px;  
}

p {
  font-family: sans-serif;
  color: black;
}

form {
	margin: 0 auto;
}

#t_index {
  position: relative;
  min-height: 200px;
}

nav ul {
  position: absolute;
  top: -11px;
  right: -5px;
}

nav li {
  list-style: none;
  float: left;
  padding: 5px;
}

nav li a {
  color: #000000;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

nav li a:hover {
  background: #392B1D;
  color: white;
}

#preheader {
	width: 500px;
	margin: 0 auto;
	padding: 30px;
}

#preheader #login {
  position: relative;
  top: 25px;
  left: -20px;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
}

#preheader #login a {
  text-decoration: none;
  color: #585858;
}

#preheader #login a:hover {
  text-decoration: none;
  color: white;
}

header {
  position: absolute;
  top: 0;
}

#sortable {
  padding: 30px 0 0 0;
  margin: 0 auto;
}

#sortable li {
  list-style: none;
  width: 450px;
  padding: 10px;
  margin: 0px;
  background: #DED196;
}

#sortable a {
  text-decoration: none;
  text-transform: uppercase;
  color: ;
}

#sortable .handle {
  position: relative;
  top: -5px;
  left: -5px;
  background-image: url(/arrow.png);
  background-repeat: no-repeat;
  padding-right: 40px;
  padding-bottom: 15px;
  margin: 10px;
  cursor: move;
}

#login_form {
  position: relative;
  min-height: 150px;
  top: 30px;
}