/* #883116 red*/
/* #F7E8A7 yellow*/
/* #717051 green*/
/* #3A4D4B blue*/
/*#2A2016  black*/

#alert {
  color: green;
}

#notice {
  color: red;
}

header

ul #sortable {
  padding: 0;
  margin: 0;
  background: white;
}

#sortable li {
  list-style: none;
  padding: 10px;
  margin: 0px;
  background: #B4B4B4;
}

#sortable .handle {
  margin: 10px;
  cursor: move;
}